div{
    padding: 10px;
}

#block_1{
    background-color: #FF0000;
}
#block_2{
    background-color: #FF9204;
}
#block_3{
    background-color: #FFF000;
}
#block_4{
    background-color: #079F1D;
}
#block_5{
    background-color: #074F9F;
}
#block_6{
    background-color: #8231CD;
        text-align: center;
}

